@import "tailwindcss";
/* bg-[var(--mainred)] */
:root {
  --mainred: #ef4444;      /* red-500 */
  --red-dark: #7f1d1d;      /* red-900 */
  --red-light: #fee2e2;     /* red-100 */
  --ash-black: #1f1f1f;
  --white: #ffffff;
  --white-soft: #fef2f2;
  --error: #dc2626;         /* red-600 */
}

  @keyframes move-left {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(120%, 0);
    }
  }
  
  @keyframes move-right {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-120%, 0);
    }
  }
  
  .move-left {
    animation: move-left 8s ease-in-out infinite;
  }
  
  .move-right {
    animation: move-right 8s ease-in-out infinite;
  }

  @keyframes float {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-30px) scale(1.05);
  }
}

.background-bubble {
  animation: float 8s ease-in-out infinite;
  opacity: 0.3;
}
